<form id="add-to-cart-form">
  <template v-for="(option, i) in form.options" :key="i">
    <div>
      {% render 'product-option-row' %}
    </div>
  </template>
  <button @click="addToCart" type="submit" name="add" class="add-to-cart-button">Add to cart</button>
</form>

{% comment %}  change the delimiters to avoid conflict with liquid {% endcomment %}
<script>
  if (document.querySelector('#add-to-cart-form')) {
  const productForm = Vue.createApp({
    delimiters: ['${', '}'],
    data() {
      return {
        open: false,
        variants: '',
        selected: [],
        form: {
          selections: [],
          options: ""
        }
      }
    },
    created() {
      fetch('/products/{{ product.handle }}.js')
        .then((results) => results.json())
        .then(data => {
          this.form.options = data.options.map(item => ({...items, visible: false}))
          this.variants = data.variants
          data.options.map(item => this.selected.push(item.value[0]))
          this.selected.forEach(item => {
            if(item) {
              this.form.selections.push(item)
            }
            this.form.selections.push(null)
          })
        })
    },
    methods: {
      
      addToCart(event) {
        event.preventDefault()
        let data = {
          id: this.variant,
          quantity: 1,
        }
        
        fetch('/cart/add.js',{
          method: 'POST',
          headers: {
            "Content-Type": 'application/json',
          },
          body: JSON.stringify(data)
        })
        .then(res => {
          console.log(res)
        })
        .catch(err => console.log(error))
      }
    }
  }).mount('#add-to-cart-form')
}
</script>
