<form id="add-to-cart-form">
  <template v-for="(option, i) in form.options" :key="i">
    <div>
      {% render 'product-option-row' %}
    </div>
  </template>
  <button @click="addToCart" type="submit" name="add" class="add-to-cart-button">Add to cart</button>
</form>

{% comment %}  change the delimiters to avoid conflict with liquid {% endcomment %}
<script>
  if (document.querySelector('#add-to-cart-form')) {
  const productForm = Vue.createApp({
    delimiters: ['${', '}'],
    data() {
      return {
        open: false,
        variant: "",
        selected: [],
        form: {
          selections: "",
          options: ""
        }
      }
    },
    created() {
      fetch( window.Shopify.routes.root + '/products/{{ product.handle }}.js')
        .then((results) => results.json())
        .then(data => {
          this.variant = data.variants[0].id
        })
    },
    methods: {
      addToCart(event) {
        event.preventDefault()
        let data = {
          id: this.variant,
          quantity: 1,
        }
        fetch(window.Shopify.routes.root + '/cart/add.js',{
          method: 'POST',
          headers: {
            "Content-Type": 'application/json',
          },
          body: JSON.stringify(data)
        })
        .then(res => console.log(res))
        .catch(err => console.log(error))
      }
    }
  }).mount('#add-to-cart-form')
}
</script>
