<form id="add-to-cart-form">
  <template v-for="(option, i) in form.options" :key="i">
    <div>
      {% render 'product-option-row' %}
    </div>
  </template>
  <button @click="addToCart" type="submit" name="add" class="add-to-cart-button">Add to cart</button>
</form>

{% comment %}  change the delimiters to avoid conflict with liquid {% endcomment %}
<script>
  if (document.querySelector('#add-to-cart-form')) {
  const productForm = Vue.createApp({
    delimiters: ['${', '}'],
    data() {
      return {
        open: false,
        variants: "",
        selected: [],
        form: {
          selections: "",
          options: ""
        }
      }
    },
    created() {
      fetch('/products/{{ product.handle }}.json').then(results => console.log(results))
    },
    methods: {
      addToCart(event) {
        event.preventDefault()
        fetch('/cart/add.js',{
          method: 'POST',
          mode: 'cors',
          headers: {
            "Content-Type": 'application.json',
          },
          body: JSON.stringify(data)
        })
        .then(res => console.log(res))
        .catch(err => console.log(error))
      }
    }
  }).mount('#add-to-cart-form')
}
</script>
