<form id="add-to-cart-form">
  <template v-for="(option, i) in form.options" :key="i">
    <div>
      {% render 'product-option-row' %}
    </div>
  </template>

  <button @click="addToCart" type="submit" name="add" class="add-to-cart-button">Add to cart</button>
  ${test}
</form>

<script>
  if (document.querySelector('#add-to-cart-form')) {
  const productForm = Vue.createApp({
    delimiters: ['${', '}'],
    data() {
      return {
        test: 'test'
        }
      }
    },
   
  }).mount('#add-to-cart-form')
}
</script>
