<form id="add-to-cart-form">
  <template v-for="(option, i) in form.options" :key="i">
    <div>
      {% render 'product-option-row' %}
    </div>
  </template>
  <button @click="addToCart" type="submit" name="add" class="add-to-cart-button">Add to cart</button>
</form>

{% comment %}  change the delimiters to avoid conflict with liquid {% endcomment %}
<script>
  if (document.querySelector('#add-to-cart-form')) {
  const productForm = Vue.createApp({
    delimiters: ['${', '}'],
    data() {
      return {
        open: false,
        variants: '',
        selected: [],
        form: {
          selections: [],
          options: ""
        }
      }
    },
    async created() {
      try {
        const data = await fetch('/products/{{ product.handle }}.js').then((res) => res.json())
        console.log('data', data)
        this.form.options = data.options.map(item => ({...item, visible: false}))
        this.variants = data.variants
        this.form.options.forEach(item => { 
          this.selected.push(item.values[0])
        })
        this.form.selections = [
          this.selected[0] || null,
          this.selected[1] || null,
          this.selected[2] || null
        ]
      } catch (error) {
        console.log(error)
      }
     
    },
    methods: {
      async addToCart(event) {
        event.preventDefault()
        let selectedVariant;
        console.log('variants',this.variants)
        console.log('selections',this.form.selections)
        
        this.variants.forEach((variant,i) => {
          console.log('variant',variant)
          console.log('selections0',this.form.selections[0] === variant.option1)
          console.log('selections1',this.form.selections[1] === variant.option2)
          console.log('selections2',this.form.selections[2] === null)
          if(variant.option1 === this.form.selections[0] && variant.options2 === this.form.selections[1] && variant.option3 === null) {
            selectedVariant = variant
          }
        })

        console.log('selectedVariant',selectedVariant)

        let data = {
          id: selectedVariant.id,
          quantity: 1,
        }
        try {
          const res = await fetch('/cart/add.js',{
            method: 'POST',
            headers: {
              "Content-Type": 'application/json',
            },
            body: JSON.stringify(data)
          }).then (data => data.json())
          console.log(res)
        } catch (error) {
          console.log(error)
        }
      }
    }
    }).mount('#add-to-cart-form')
  }
</script>
