<div class="hero-image section">
  <img src="{{ section.settings.image | img_url: 'master' }}">
</div>

{% comment %} JSON as the schema {% endcomment %}
{% schema %}
{
<<<<<<< HEAD
  "name": "Hero Image", 
=======
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 5,
>>>>>>> 4fab939 (add schema)
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}